.u-center-text {
  text-align: center;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-mt-big {
  margin-top: 8rem !important;
}

.u-mb-medium {
  margin-bottom: 4.5rem !important;
}

.u-mt-medium {
  margin-top: 5rem !important;
}

.u-mt-huge {
  margin-top: 10rem !important;
}

.u-mb-small {
  margin-bottom: 0.7rem;
}
